<div class="card">
    <div class="card-header">Registruoti vaiką</div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>name</th>
                    <th>surname</th>
                    <th>year</th>
                    <th>exampleinputEmail</th>
                    <th>gender</th>
                    <th>phone</th>
                    <th>className</th>
                </tr>
            </thead>
            
            <tbody>
                <tr *ngFor="let registration of registrations">
                    <td> {{ registration.name }} </td>
                    <td> {{ registration.surname }} </td>
                    <td> {{ registration.year }} </td>
                    <td> {{ registration.exampleinputEmail }} </td>
                    <td> {{ registration.gender }} </td>
                    <td> {{ registration.phone }} </td>
                    <td> {{ registration.className }} </td>
                    <td>
                    <!-- Mygtukas registracijai -->
                    <a [routerLink]="['/registrationEdit',registration.id]" class="btn btn-info me-3">Redaguoti</a>
                    <!-- ?Mygtukas trynimui -->
                    <button class="btn btn-danger" (click)="onDeleteRegistration(registration.id)">Ištrinti</button>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>